@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* color: #777777; */
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}
.height-51{
    height: 51px;
}
ul{
    list-style: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.input:focus-visible{
    outline: 0;
}
a:hover{
    text-decoration: none;
}
.section-small-title{
    font-size: 12px;
    text-transform: uppercase;
    color: #777777;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section-main-title{
    font-size: 36px;
    text-transform: capitalize; 
    font-weight: 600;
    margin-bottom: 15px;
}
.section-desc{
    font-size: 14px;
    color: #777777;
    line-height: 1.7;
    margin-bottom: 30px;
}
.card{
    background: transparent;
    border: 0;
}
.px-45{
    padding: 0 45px;
}
.py-410{
    padding: 410px 0;
}
.py-120{
    padding: 120px 0;
}
.py-0-120{
    padding: 0 0 120PX;
}
.py-290-125{
    padding: 290 0 125px;
}
.py-120-100{
    padding: 120px 0 100PX;
}
.py-120-45{
    padding: 120px 0 45PX;
}
.py-290-240{
    padding: 290px 0 240px;
}
.py-240{
    padding: 240px 0;
}
.py-290{
    padding: 290px 0;
}
.py-75-160{
    padding: 75px 0 160px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-35{
    margin-bottom: 35px;
}
.mt-35{
    margin-top: 35px;
}
.mt-15{
    margin-top: 15px;
}
.mt-10{
    margin-top: 10px;
}
.mt-30{
    margin-top: 30px;
}
.mb-80{
    margin-bottom: 80px;
}
.align-item-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.line::after{
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-image:linear-gradient(to right, #8252fa 0%, #eca2f1 100%), radial-gradient(circle at top left, #8252fa, #eca2f1);
    margin-top: 5px;
}
/* Header */
header{
    position: fixed;
    background: #FFF;
    z-index: 999;
    width: 100%;
}
.nav-link{
    padding: 30px 0px;
}
.nav-link, .dropdown-menu .dropdown-item{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    transition: color 0.3s;
}
.nav-item {
    padding: 0 1.406rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
    transition: all 0.3s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-item .active{
    color: #8252fa;
}

.dropdown-menu:hover .dropdown-item, .dropdown-menu:hover{
    background-image:linear-gradient(to right, #8252fa 0%, #eca2f1 100%), radial-gradient(circle at top left, #8252fa, #eca2f1);
    color: #FFF;
}
.dropdown-menu{
    display: none;    
    top:63px;

}
.dropdown:hover .dropdown-menu{
    display: block;
}
.btn{
    line-height: 51px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    border:0;
    padding: 0;
} 
.main-btn{
    background-image:linear-gradient(to right, #8252fa 0%, #eca2f1 100%), radial-gradient(circle at top left, #8252fa, #eca2f1);
    color: #FFF;   
    min-width: 145px;
    transition: background-image 0.9s, box-shadow 0.3s;
    font-weight: 500;
}
.main-btn:hover{
    background: transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border:2px solid transparent;
    color: #222222;
    box-shadow: 0px 10px 30px rgb(130 82 250 / 20%);
    
}
.btn.focus, .btn:focus{
    box-shadow: 0 0 0 0;
}
/* end Header */
/* start home */
.home{
    background-image: url(../img/home-banner.png);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: right center;
}
.home-title{
    margin-top: 0px;
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 20px;
    color: #FFF;
    text-transform: capitalize;
}
.home-desc{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: #FFF;
}
.home-img{
    padding-top: 260px;
    padding-bottom: 142px;
}
.home-btn{
    background: rgba(255, 255, 255, 0.3);
    min-width: 161px;
    border: 2px solid #FFF;
    color: #FFF;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}
.home-btn:hover{
    background: #FFF;
}
/* end home */

/* start feature */

.feature-body, .specifications{
    text-align: center;
}
.secondery-btn{
    width: 231px;
    background: transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border:2px solid transparent;  
    color: #22195e;
    transition: all 0.5s;
    font-weight: 500;
}
.secondery-btn:hover{
    background-image:linear-gradient(to right, #8252fa 0%, #eca2f1 100%), radial-gradient(circle at top left, #8252fa, #eca2f1);
    color: #FFF;   
    min-width: 145px;
    box-shadow: 0px 10px 30px rgb(130 82 250 / 20%);
}
/* end feature */
/*  start details*/

.details-item .icon{
    padding-right: 27px;
    position: relative;
    bottom: -10px;
    font-size: 29px;
    color: #222222;
}
.details-item{
    padding: 30px 0;
    border-bottom: 1px solid #eeeeee;
}
.details-title{
    font-size: 20px;
    color: #222222;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.details-desc{
    margin: 0;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #777777;
}
.details-item:last-child{
    border: 0;
}
/* end details  */
/* start design */
.design{
    background-image: url(../img/tab-bg.jpg.webp);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover ;
}
.design-body{
    border: none;
    border-bottom: 1px solid #eda2f0;
    padding-bottom: 1px;
}
.design-card{
    padding: 0px 15px;
}
.small-design-card{
    width: 165px;
    height: 119px;
    background: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px 0 45px;
    font-weight: 500;    
}
.small-design-card:hover{
    background:linear-gradient(to right, #8252fa 0%, #eca2f1 100%), radial-gradient(circle at top left, #8252fa, #eca2f1);
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 10%);
}
.design-card .icon{
    color: #FFF;
}
.design-card .icon{
    background:linear-gradient(to right, #8252fa 0%, #eca2f1 100%), radial-gradient(circle at top left, #8252fa, #eca2f1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.design-card .active{
    color: #FFF;
    background-image:linear-gradient(to right, #8252fa 0%, #eca2f1 100%), radial-gradient(circle at top left, #8252fa, #eca2f1);
}
.active-icon, .icon{
    margin: 0px 0 15px;
    font-size: 30px;
}
.design-text{
    letter-spacing: 1px;
    font-size: 14px;
    transition: color 0.3s ease-in;
}
.design-info .section-main-title{
    text-transform: none;
}
.small-design-card:hover .design-text {
    color: #FFF;
}
.small-design-card:hover .icon{
    background-image: linear-gradient(white, white);
}
.design-info .section-info{
    text-align: left;
}
.design-img{
    text-align: right;
}
.design-info .secondery-btn, .category-info .secondery-btn{
    width: 157px;
}

/* end design */
/* start SPECIFICATIONS */
/* end SPECIFICATIONS */
/* start category */
.second-category{
    margin-top: 120px;
}
.first-category, .second-category{
    position: relative;
}
.border-line{    
    left: 50%;
    top: -30px;
    height: 435px;
    border: 1px dashed #dbdade;
}
.border-line, .shape1,.shape2,.shape3{
    position: absolute;
}
.shape2{
    left: 42.6%;
}
.first-category .shape3{
    bottom: 0px;
}
.second-category .shape3{
    bottom: -70px;
}
.first-category .shape2{
    top: 30%;
}
.second-category .shape2{
    top: 40%;
}
.shape2{
}
.shape1, .shape3{
    left: 45.1%;
    width: 10%;
}
.shape2{
    width: 15%;
}

/* end category */
/* start plan */
.plan{
    background-image: url(../img/pricing-bg.png);
    /* padding: 400px 0; */
     background-repeat: no-repeat;
    /*background-position: left center;
    background-size: cover ; */
}
.plan-card{
    border: 1px solid #eee;
    background: #FFF;
    margin-top: 45px;
    border-radius: 5px;    
    text-align: center;    

}
.plan-card .plan-header{
    padding: 35px 0 25px;
    text-transform: capitalize;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    color: #222222;
}
.plan-title{
    font-size: 20px;
}
.price-card .secondery-btn{
    width: 161px;
}
.plan-list li{
    margin: 0;
    padding: 0;
}
.plan-card .card-body{
    padding: 30px 35px 45px; 

}
.price-list div{
    padding-bottom: 10px;
    font-size: 14px;
    color: #666666;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}
.price-list a{
    text-transform: capitalize;
}
.price-list div:last-child{
    padding-bottom: 30px;
}
.price-card{
    background: #FCF8FF;
    padding: 35px 0 40px;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}
.doller-sign{
    position: relative;
    top: -35px;    
    font-family: "Rajdhani", sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.doller{
    font-size: 72px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
}
.plan-card:hover .plan-header, .plan-card:hover .price-card{
    background-image:linear-gradient(to right, #8252fa 0%, #eca2f1 100%), radial-gradient(circle at top left, #8252fa, #eca2f1);
    color: #FFF;
}
.plan-card:hover{
    background: transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #8252fa, #eca2f1);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border:2px solid transparent;
    box-shadow: 0px 10px 30px rgb(130 82 250 / 20%);
    border-radius: 5px;
}
.plan-card:hover .price-card{
    box-shadow: 0px 10px 30px rgb(130 82 250 / 20%);
}
.price-card:hover .secondery-btn{
    border: 0;
    background-image: linear-gradient(white, white);
    color: #22195e;
}
/* end plan */
/* start author */
.author-img{
    width: 112px;
    height: 99px;
    margin-bottom: 10px;
}
.star-icon{
    color: #ffc000;
    font-size: 14px;
    margin-bottom: 30px;

}
.author-body{
    text-align: center;
}
.author-title{
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;

}
.author-desc{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #777777;
}
/* end author */
/* start brand */
.brand-img{
    width: 80px;  
    margin: auto;  
}
.brand-card{
    width: 135px;   
     max-width: 115px;
    margin: 0 5px;
    height: 130px;
    background: #FCF8FF;    
    line-height: 130px;
}
.brand .container{
    width: 74%;
    /* margin: auto; */
}
/* end brand */
/* start demo */
.demo{
    background-image: url(../img/impress-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 290px 0 320px;
    margin-bottom: -280px;
    text-align: center;
}
.demo .section-main-title{
        text-transform: none;
}
.demo .section-main-title, .demo .section-desc{
    color: #FFF;
}
.demo .section-desc{
    margin-bottom: 35px;
}
.demo .secondery-btn{
    width: 229px;
    border: 0;
    font-size: 14px;
    transition: 0.3s all;
    box-shadow: -14.142px 14.142px 20px 0px rgb(0 0 0 / 10%);
}
.demo .secondery-btn:hover{
    background: transparent;
    border: 2px double #FFF;
    border-radius: 5px;
}
/* end demo */
/* footer */
footer{
    background-image: url(../img/footer-bg.png); 
    /* padding: 290px 0 125px; */
    background-size: cover;
    padding-top: 290px;
    padding-bottom: 120px;
}
.footer-title{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}
.footer-desc, .footer-copyright{
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 30px;
}
.social-list{
    padding: 0;
}
.social-list li{
    display: inline-block;
}
.social-list .icon{
    font-size: 14px;
    color: #CCC;
    padding-right: 10px ;
    transition: color 0.3s;
}
.social-list .icon:hover{
    color: #8252fa;
}
.email-form{
    position: relative;
}
.email-form .email-input{
    border: 0;
    padding:15px;
    color: #CCC;
    border-radius: 30px;
    background: #FFF;
    width: 90%;
}
.email-form ::placeholder{
    color: #CCC;
}
.email-btn{
    position: absolute;
    right: 55px;
    top: 4px;
    border-radius: 50%;
    outline: none !important;
    box-shadow: none !important;
    border: 0;
    padding: 0px;
    width: 46px;
    height: 46px;
    cursor: pointer;
    color: #fff;
    background-image:linear-gradient(to right, #8252fa 0%, #eca2f1 100%), radial-gradient(circle at top left, #8252fa, #eca2f1);
}
.footer-desc{
    margin:0;
}
.site{
    text-transform: capitalize;
    color: #8252fa;
}
.site:hover {
    color: #8252fa;
}
/* end footer */
/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) { 
    
}
 /* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) { 
    header{
        background: #000;
    }
    .navbar-toggler{
    border: 0;
    }
    .navbar-toggler span {
        /* display: block;
        width: 25px;
        height: 3px; */
        color: rgba(0, 0, 0, 0.6) !important;
        background: #FFF;
        /* margin: auto; */
        /* margin-bottom: 4px;
        transition: all 400ms linear; */
        cursor: pointer;
    }
    header .active{
        /* margin-top: 20px; */
    }
    .home .home-body{
        margin-top: 70px;
    } 
    .navbar-light .navbar-nav .nav-link {
        color: #FFF;
    }
    .nav-item{
        border-bottom: 1px solid rgb(85 82 82 / 50%);
        padding: 0;
    }
    .nav-item:last-child{
        border: 0;
    }
    .nav-link {
        padding: 10px 0px;
        margin: 10 0px;
    }
    header .form-inline{
        display: none;
    }
    .home-img{
        padding: 70px 0px 100px 0px;
    }
    .feature,.design, .category,.plan,.brand,.demo, footer{
        padding: 80px 0;
    }
    
    .details{
        padding: 0 0 80px;
    }

    .specifications{
        padding: 80px 0 0px;
    }
    .design,.plan, footer{
        background-image: none;
        background-color: #fcf8ff;
    }
    .category-img, .design-img{
        max-width: 350px;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .plan .specifications{
        padding: 0px;

    }
    .plan-card:last-child{
        margin: 40px auto 0px;
    }
    .author{
        padding-bottom: 0;
        padding-top: 20px;
    }
    .last-tablets{
        display: none;
    }
    .demo{
        background-image: none;
        background-color: #a16af7;
        margin-bottom: 0;
    }
    .footer-title{
        margin-bottom: 12px;
    }
    .brand-card {
        max-width: 125px;
        margin: 0 10px;
    }
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .design-img{
        max-width: 250px;
    }
    /* .design-card:last-child{
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .small-design-card {   
        max-width: 130px;
    } */
    .feature,.design, .category,.plan,.brand,.demo, footer{
        padding: 70px 0;
    }
 .details{
        padding: 0 0 70px;
    }

    .specifications{
        padding: 70px 0 0px;
    }
 }
/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) { 
    .home-title{
        font-size: 28px;
    }
    .design-card:last-child{
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .small-design-card {   
        max-width: 130px;
    } 
    .brand-card {
        max-width: 115px;
        margin: 0 5px;
    }
    footer input{
        margin-bottom: 30px;
    }
    .last-phones{
        display: none;
    }
    .section-small-title{
        font-size: 12px
    }
    .section-main-title{
        font-size: 25px;
    }
    .design .section-main-title, .category .section-main-title, .demo .section-main-title{
        font-size: 36px;
    }
 }





